<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=sql.wsql223.vhostgo.com;User ID=bamn2013db;Password=p6kel5hf85;Initial Catalog=bamn2013db;Pooling=true</Dbconnectstring>
  <Tableprefix>dnt_</Tableprefix>
  <Forumpath>/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>0</Founderuid>
</BaseConfigInfo>