<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="codeHighlighter" requirePermission="false" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter.Net20"/>
  </configSections>
  
  <system.web>
    <compilation defaultLanguage="c#" debug="true"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
    <httpModules>
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule"/>
    </httpModules>
    <xhtmlConformance mode="Legacy"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <codeHighlighter>
    <cache languageTimeout="3"/>
    <keywordLinking enabled="true" target="_blank" defaultKeywordCollectionKey="ActiproKeywords">
      <keywordCollection key="ActiproKeywords">
        <explicitKeyword tokenKey="IdentifierToken" patternValue="Actipro" url="http://www.actiprosoftware.com" caseSensitive="false"/>
        <explicitKeyword tokenKey="IdentifierToken" patternValue="CodeHighlighter" url="http://www.codehighlighter.com" caseSensitive="false"/>
      </keywordCollection>
    </keywordLinking>
    <languages>
      <language key="Assembly" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Assembly.xml"/>
      <language key="BatchFile" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.BatchFile.xml"/>
      <language key="C#" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.CSharp.xml"/>
      <language key="CSS" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.CSS.xml"/>
      <language key="HTML" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.HTML.xml"/>
      <language key="INIFile" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.INIFile.xml"/>
      <language key="Java" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Java.xml"/>
      <language key="JScript" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.JScript.xml"/>
      <language key="Lua" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Lua.xml"/>
      <language key="MSIL" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.MSIL.xml"/>
      <language key="Pascal" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Pascal.xml"/>
      <language key="Perl" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Perl.xml"/>
      <language key="PHP" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.PHP.xml"/>
      <language key="PowerShell" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.PowerShell.xml"/>
      <language key="Python" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.Python.xml"/>
      <language key="SQL" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.SQL.xml"/>
      <language key="VB.NET" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.VBDotNet.xml"/>
      <language key="VBScript" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.VBScript.xml"/>
      <language key="XAML" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.XAML.xml"/>
      <language key="XML" definitionPath="~/content/codehighlighter/Languages/Lexers/ActiproSoftware.XML.xml"/>
    </languages>
    <lineNumberMargin foreColor="Teal" paddingCharacter=" " visible="true"/>
    <outlining enabled="true" imagesPath="~/content/codehighlighter/Images/OutliningIndicators/"/>
    <spacesInTabs count="4"/>
  </codeHighlighter>
  
  <system.webServer>
    <modules>
      <!--  注意：此节设置由Discuz!NT接管http请求。不会干涉对非Discuz!NT论坛路径下的请求。-->
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule"/>
    </modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="forumindex.aspx"/>
        <add value="spaceindex.aspx"/>
        <add value="albumindex.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
</configuration>