<?xml version="1.0"?>
<APIConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <AppCollection>
    <ApplicationInfo>
      <AppName>DoPass</AppName>
      <AppUrl>http://localhost:810/index.aspx</AppUrl>
      <APIKey>bdf5ac00827cdf40d0bcec66949cbc24</APIKey>
      <Secret>d9b1d9eec16baf72ea0f9f3c7896dfa5</Secret>
      <CallbackUrl>http://localhost:810/index.aspx</CallbackUrl>
      <SyncUrl />
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
  </AppCollection>
</APIConfigInfo>