<%template _pageheader%>
<body>
	<div id="wrapper">
	
        <div style="float:right;width:1100px; text-align:right;margin-right:25px;">

                <%if {userid}==-1%>
                    <%if {pagename}!="login.aspx"&&{pagename}!="register.aspx"%>
                        <a href="{forumpath}register.aspx" onClick="showWindow('register', '{rooturl}register.aspx');hideWindow('login');" style="margin-left: 7px;" class="xg2">注册</a>	
                        <a href="{forumpath}login.aspx" onClick="showWindow('login', '{rooturl}login.aspx');hideWindow('login');" style="margin-left: 7px;" class="xg2">登录</a>	
                    <%/if%>
			    <%else%>
				    <p>
					    <strong><a href="{forumpath}userinfo.aspx?userid={userid}" class="vwmy">{username}</a></strong><span class="xg1">在线</span><span class="pipe">|</span>
                        <%set (string){linktitle} = ""%>
                        <%set (string){showoverflow} = ""%>

                        <%if {oluserinfo.newpms}>0%>
                            <%if {oluserinfo.newpms}>=1000%>
                                <%set {showoverflow} = "大于"%>
                            <%/if%>
                            <%set {linktitle} = "您有"+{showoverflow}+{oluserinfo.newpms}+"条新短消息"%>
                        <%else%>
                            <%set {linktitle} = "您没有新短消息"%>
                        <%/if%>

					    <a id="pm_ntc" href="{forumpath}usercpinbox.aspx" title="{linktitle}">短消息
                        <%if {oluserinfo.newpms}>0 && {oluserinfo.newpms}<=1000%>
                                    ({oluserinfo.newpms}<%if {oluserinfo.newpms}>=1000%>1000+<%/if%>)
                        <%/if%>
                        </a>

					    <a href="{forumpath}usercpnotice.aspx?filter=all" title="{linktitle}">
                            通知<%if {oluserinfo.newnotices}>0%>
                                    ({oluserinfo.newnotices}<%if {oluserinfo.newnotices}>=1000%>+<%/if%>)
                                <%/if%>
                        </a>

					    <a href="{forumpath}logout.aspx?userkey={userkey}">退出</a>
				    </p>
                <%/if%>
        </div>	

		<div id="logo">
		    <div  style="float:left;">
				<h2><a href="{forumpath}index.aspx" title="{config.forumtitle}"><img src="{imagedir}/logo.png" alt="{config.forumtitle}"/></a></h2>
            </div>		


           

            <div  style="float:right;">
                <%if {headerad}!=""%>
	                <div id="ad_headerbanner">{headerad}</div>
                <%/if%>
            </div>
			
		</div>

        <div id="navfirst">
            <ul id="simple-menu" class="cl">
			    {mainnavigation}
		    </ul>
	    </div>	
			

	

<%else%>
<%csharp%>
Response.Clear();
Response.ContentType = "Text/XML";
Response.Expires = 0;
Response.Cache.SetNoStore();
<%/csharp%>
<?xml version="1.0" encoding="utf-8"?><root><![CDATA[
<%/if%>