<table cellpadding="0" cellspacing="0" border="0" id="18" name="18">
    <tbody>
        <tr>
            <td rowspan="3" class="postauthor" id="18">
                <div class="popupmenu_popup userinfopanel" id="16" style="display: none; clip: rect(auto auto auto auto);
                    position absolute;" initialized ctrlkey="userinfo2">
                    <div class="popavatar">
                        <div id="16_ma">
                        </div>
                        <ul class="profile_side">
                            <li class="post_pm"><a href="usercppostpm.aspx?msgtoid=1" target="_blank">发送短消息</a></li>
                        </ul>
                    </div>
                    <div class="popuserinfo">
                        <dl class="cl">
                            <dt>UID</dt><dd>1</dd><dt>精华</dt><dd>0</dd>
                        </dl>
                        <div class="imicons cl">
                        </div>
                    </div>
                </div>
                <div class="poster">
                    <span class="onlineyes">admin </span>
                </div>
                <div id="16_a">
                    <div class="avatar">
                        <img onerror="this.onerror=null;this.src='/images/common/noavatar_medium.gif';" src="tools/avatar.aspx?uid=1&size=medium"
                            onmouseover="showauthor(this,'16')" id="memberinfo_6" />
                    </div>
                    <p>
                        <em>admin </em>
                    </p>
                </div>
                <p>
                    <img src="/templates/default/images/star_level3.gif" /><img src="/templates/default/images/star_level3.gif" /><img
                        src="/templates/default/images/star_level1.gif" />
                </p>
                <ul class="otherinfo">
                    <li>
                        <label>
                            组别</label>管理员</li><li>
                                <label>
                                    生日</label></li><li>
                                        <label>
                                            帖子</label>18</li><li>
                                                <label>
                                                    积分</label>118</li><li>
                                                        <label>
                                                            性别</label>保密</li><li>
                                                                <label>
                                                                    注册时间</label>2013-11-08</li>
                </ul>
                <div class="medals">
                </div>
            </td>
            <td class="postcontent">
                <div class="pi">
                    <strong><a href="###" class="floor" title="复制帖子链接到剪贴板" onclick="setcopy(window.location.toString().replace(/#(.*?)$/ig, '') + '#18', '已经复制到剪贴板')">
                        6<sup>#</sup> </a></strong>
                    <div class="postinfo">
                        <div class="msgfsize y">
                            <label>
                                字体大小:
                            </label>
                            <small title="正常" onclick="$('message18').className='t_msgfont'"><b>t</b></small>
                            <big title="放大" onclick="$('message18').className='t_bigfont'"><b>T</b></big>
                        </div>
                        <em>
                            <img src="/images/groupicons/admin.gif" />
                            2013-11-08 09:53</em> <em>|<a href="showtopic.aspx?topicid=1&onlyauthor=1">只看楼主</a></em>
                    </div>
                </div>
                <div id="ad_thread2_6">
                </div>
                <div id="ad_thread3_6">
                </div>
                <div class="postmessage defaultpost">
                    <h2>
                    </h2>
                    <div id="topictag">
                    </div>
                    <div id="message18" class="t_msgfont">
                        ret儿童</div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="plc">
            </td>
        </tr>
        <tr>
            <td class="plc">
                <div id="ad_thread1_6">
                </div>
            </td>
        </tr>
        <tr>
            <td class="postauthor">
            </td>
            <td class="postactions">
                <div class="p_control">
                    <cite class="y"><a href="###" onclick="window.scrollTo(0,0)">TOP</a></p> </cite>
                    <a class="fastreply" onclick="showWindow('reply', 'showtopic.aspx?poster=admin&postid=18&topicid=1')"
                        href="###">回复</a> <a onclick="floatwin('open_reply', this.href, 600, 410, '600,0');doane(event);"
                            class="repquote" href="postreply.aspx?topicid=1&postid=18&forumpage=1&quote=yes">
                            引用</a> <a class="editpost" href="editpost.aspx?topicid=1&postid=18&forumpage=1&pageid=1">
                                编辑</a> <a href="delpost.aspx?topicid=1&postid=18" onclick="return confirm('确定要删除吗?');"
                                    class="delpost" title="删除我的帖子">删除</a>
                </div>
            </td>
        </tr>
    </tbody>
    <tr class="threadad">
        <td class="postauthor">
        </td>
        <td class="adcontent">
        </td>
    </tr>
